#userPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100vw;
}

.userPanelItem {
  border: 5px solid black;
  padding: 5px;
  max-width: fit-content;
}
.userPanelItem > .image {
  width: 36px;
  height: 36px;
}
.userPanelItem > .name {
  margin: 0;
  font-size: xx-small;
  text-align: center;
  word-break: break-word;
  max-width: 36px;
}

.userPanelItem {
  margin-bottom: 5px;
}

#centeredComponent {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
